/* * = 전체 선택자, 즉 모든 요소 */
* {
    box-sizing: border-box;
}


/* body 태그에 속한 요소 */
body {
    margin: 0;
    min-width: 992px;
    font-family: "Helvetica";
}


/* navbar css */
.navbar {
    height: 60px;
    padding-left: 30px;
}

.navbar ul{
    float: right;
    margin-right: 70px;
}

.navbar li{
    list-style-type: none;
    float: left;
    margin-right: 20px;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-style: bold;
    font-size: 15px;
}

.logo{
    line-height: 60px;
    float: left;
}

.logo img{
    vertical-align: middle;
    margin-left: 50%;
    width : 150%;
    height: 100%;
}

.slideshow {
    width : 80%;
    height: 30%;
    margin: auto;
}


/* 상품(products) div */
.products {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 740px;
    text-align: center;
  }
  
  .products img{
    width: 225px;
    height: 225px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .products a{
    text-decoration: none;
    color: black;
    float: left;
    font-size: 16px;
  }
  
  .price{
    margin-top: 4px;
    margin-bottom: 80px;
  }